/* Reset CSS pour réinitialiser les styles par défaut du navigateur */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

 

h2 {
  color: #252525;
  
}

/* Styles pour l'en-tête */
header {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
}

/* Styles pour la navigation */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #FFF;
  padding: 15px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #007BFF;
}

/* Styles pour les sections */
section {
  padding: 20px;
}

/* Styles pour les événements et annonces */
section ul {
  list-style-type: none;
}

section ul li {
  margin-bottom: 20px;
}

section h3 {
  margin-bottom: 5px;
}

section p {
  color: #777;
}

/* Styles pour le pied de page */
footer {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
  text-align: center;
}


   

    /* Styles pour le texte */
    .text {
      flex: 1;
      padding-left: 0px;
      padding-right: -20px;
    }


.footer {
  height: 40px; /* Hauteur du pied de page */
  background-color: #007BFF; /* Couleur de fond du pied de page */
  position: sticky;
  bottom: 0;
}
p {
  text-align: center;
  color: blue;
}
h2 {
  text-align: center;
}


    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }

    h1 {
      font-size: 24px;
      color: #333;
    }

    p {
      font-size: 16px;
      color: #777;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
       width: 100%;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .btn {
      display: inline-block;
      padding: 12px 20px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      background-color: #007bff;
      border: none;
      cursor: pointer;
      width: 100px;
      transition: background-color 0.3s ease;
    }

    .btn:hover {
      background-color: #0056b3;
    }
 


