/* Reset CSS pour réinitialiser les styles par défaut du navigateur */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.footer {
  height: 40px; /* Hauteur du pied de page */
  background-color: #007BFF; /* Couleur de fond du pied de page */
  position: sticky;
  bottom: 0;
}

 

h2 {
  color: #252525;
  
}

/* Styles pour l'en-tête */
header {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
}

/* Styles pour la navigation */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #FFF;
  padding: 15px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #007BFF;
}

/* Styles pour les sections */
section {
  padding: 20px;
}

/* Styles pour les événements et annonces */
section ul {
  list-style-type: none;
}

section ul li {
  margin-bottom: 20px;
}

section h3 {
  margin-bottom: 5px;
}

section p {
  color: #777;
}

/* Styles pour le pied de page */
footer {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
  text-align: center;
}



    /* Styles généraux */
    body {
      background-color: #f8f8f8;
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px;
      text-align: center;
    }
    h1 {
      margin-top: 0;
    }

    /* Styles pour les stickers */
    .whatsapp-sticker,
    .mail-sticker {
      display: inline-block;
      margin: 20px;
      padding: 20px;
      background-color: #007BFF;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      transition: background-color 0.3s ease;
    }
    .whatsapp-sticker:hover,
    .mail-sticker:hover {
      background-color: #007BFF;
    }
    .whatsapp-sticker img,
    .mail-sticker img {
      width: 100px;
      margin-bottom: 10px;
    }
    .whatsapp-sticker span,
    .mail-sticker span {
      display: block;
      font-size: 18px;
    }
