/* Reset CSS pour réinitialiser les styles par défaut du navigateur */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

 

h2 {
  color: #252525;
  
}
.footer {
  height: 40px; /* Hauteur du pied de page */
  background-color: #007BFF; /* Couleur de fond du pied de page */
  position: sticky;
  bottom: 0;
}

/* Styles pour l'en-tête */
header {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
}

/* Styles pour la navigation */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #FFF;
  padding: 15px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #007BFF;
}

/* Styles pour les sections */
section {
  padding: 20px;
}

/* Styles pour les événements et annonces */
section ul {
  list-style-type: none;
}

section ul li {
  margin-bottom: 20px;
}

section h3 {
  margin-bottom: 5px;
}

section p {
  color: #777;
}

/* Styles pour le pied de page */
footer {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
  text-align: center;
}
header {
  background-color: #007BFF;
  color: #FFF;
  padding: 20px;
  text-align: center;
}
